<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="maincontent">
                <article class="article">
                    <h1 class="article-title">Who are we?</h1>
                    <p>We are a small team of people who have a vision to help all the users of this website find people for
                        help.</p>
                </article>
                <!-- article -->
                <article class="article">
                    <h1 class="article-title">What else?</h1>
                    <p>If you want to keep up with what's going on with the group, <a href="https://ashishkapoor.github.io">join our meetup group</a>,
                        <a href="https://ashishkapoor.github.io">follow us on twitter</a>.
                </article>
                <!-- article -->
                <article class="article">
                    <h1 class="article-title">Who?</h1>
                    <ul>
                        <li>Anybody interested in art and the creative industry</li>
                        <li>Painters, sculptors, photographers and graphic artists</li>
                        <li>Those interested in meeting and making a connection with others in the local art scene.</li>
                    </ul>
                </article>
                <!-- article -->
            </div>
        </div>
    </div>
</div>