<aside class="col-sm-4">
    <article class="sidebar">
        <h1 class="sidebar-title">Side Bar</h1>
        
        <ul class="sidebar-body">
            
            <li>
                <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
            </li>

            <li>
                <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
            </li>
            
            <li>
                <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
            </li>

        </ul>

    </article>
</aside>